<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedCuda-80" version="8.0.13" targetFramework="net45" />
  <package id="ManagedCuda-CURAND" version="8.0.13" targetFramework="net45" />
  <package id="ManagedCuda-NPP" version="8.0.13" targetFramework="net45" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net45" />
</packages>