*.suo
*.user
*.pdb
*.vshost.exe
*.vshost.exe.manifest
*.ncrunchproject
*.ncrunchsolution
obj/
_ReSharper*/
DemoApplication/bin/
YAXLibTests/bin/
TestResults/
Bin/*.dll
Bin/*.xml
Bin/*.dll.mdb
/packages/*
!/packages/repositories.config
YAXLibTests.VisualState.xml
TestResult.xml
Bin/Signed