# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

*.opensdf
*.suo
*.sdf
bin
obj
*.pdb
Debug
Release
*.user
doc.xml

/Sources/Modules/InternalNodes
/Sources/Modules/SeMeIntModule
/Sources/Modules/SeMeIntegrationModule
/Sources/packages
Sources/Modules/EmguNodes/
*.DotSettings
