<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoodAI.School.GUI.Properties.School" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoodAI.School.GUI.Properties.School>
            <setting name="AutosaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutorunEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </GoodAI.School.GUI.Properties.School>
    </userSettings>
</configuration>